/* .navbar{
    display: flex;
    justify-content: space-around;
}
.navbar ul{
    margin-top: 1.5%;
}
.navul{
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    flex-wrap: wrap;
} */